.header {
  font-size: 46px;
  background: magenta;
}
.footer {
  font-size: 10px;
  background: magenta;
}
.content {
  font-size: 14px;
}
.navigation {
  background: blue;
  font-size: 12px;
}
.sidebar {
  background: magenta;
  font-size: 10px;
}
#another-font-size {
  font-size: 20px;
}
