* {
  margin: 0;
  padding: 0;
}
.random-content-container {}
.random-content-div {
  text-align: center;
}
.content-button {
  margin: 10px auto;
}
.random-content-p {}
#hideText {
  display: none;
  text-align: center;
}
