* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  padding: 2vh 1vw;
}
.header {
  width: 98vw;
  height: 10vh;
  font-size: 46px;
  background: magenta;
}
.footer {
  width: 100%;
  height: 10vh;
  font-size: 10px;
  background: magenta;
}
.content {
  font-size: 14px;
  width: 66vw;
  height: 72vh;
  display: inline-block;
  margin: 2vh 1vw;
}
.navigation {
  float: left;
  display: block;
  height: 72vh;
  width: 15vw;
  margin: 2vh 0;
  background: blue;
  font-size: 12px;
}
.sidebar {
  float: right;
  display: block;
  height: 72vh;
  width: 15vw;
  margin: 2vh 0;
  background: magenta;
  font-size: 10px;
}
.another-font-size {
  font-size: 20px;
}
#background-green.on-no-inline-styles {
  display: none;
  background: green;
}
